@import "./../constant";

.w-popup-mask {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
	height: 100%;
	z-index: 999;
}

.w-popup-slide {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1000;
	transition: transform 0.3s cubic-bezier(.25, .1, .25, 1);
	transform: translate(0, 100%);
	&.w-popup-slide-up {
		bottom: 0;
	}
}