@import "./constant";
@import "./common/header";
@import "./common/footer";

.cart {
	@include padding(0, 0, px2rem($footerHeight));
	
	@at-root {
		.cart-item {
			background-color: #ffffff;
			padding-left: px2rem(20);
			margin-bottom: px2rem(20);
		}
		
		.cart-title {
			@include borderBottom();
			@include height(70);
			font-size: px2rem(26);
		}
		
		.product-item {
			@include borderBottom($borderColor, 1px);
			background-color: #ffffff;
			@at-root {
				$productContentPadding: 20;
				$productImageSize: 170;
				
				.product-content {
					@include padding(px2rem($productContentPadding), 0);
					flex: 1;
					flex-direction: row;
				}
				
				.checkbox-wrap {
					height: px2rem(170);
					justify-content: center;
				}
				
				.select-icon {
					width: px2rem(60);
					height: px2rem(60);
				}
				
				.image-wrap {
					width: px2rem($productImageSize);
					height: px2rem($productImageSize);
				}
				
				.product-info {
					flex: 1;
					margin-left: px2rem(20);
					padding-right: px2rem(20);
					height: px2rem(170);
					
					@at-root {
						.product-title {
							font-size: px2rem(26);
							lines: 2;
							text-overflow: ellipsis;
						}
						
						.product-price {
							@include height(60);
							position: absolute;
							bottom: 0;
							left: 0;
							font-size: px2rem(30);
							color: #FF0000;
						}
					}
				}
				
				.cart-delete-text {
					@include height($productImageSize + $productContentPadding * 2);
					
					flex: 1;
					color: #ffffff;
					font-size: px2rem(30);
					text-align: center;
					width: px2rem(160);
					background-color: #F4333C;
				}
				
				.info-edit-num {
					$height: 54;
					font-size: px2rem(26);
					position: absolute;
					right: px2rem(20);
					bottom: 0;
					flex-direction: row;
					@at-root {
						.edit-num-input {
							@include borderBottom(#c2c2c2);
							@include borderTop(#c2c2c2);
							font-size: px2rem(26);
							text-align: center;
							width: px2rem(66);
							height: px2rem($height);
							line-height: px2rem($height);
						}
						
						.edit-num-btn {
							@include borderAround(#c2c2c2, 0);
							width: px2rem($height);
							height: px2rem($height);
							justify-content: center;
							align-items: center;
						}
						
						.edit-num-image {
							width: px2rem($height - 20);
							height: px2rem($height - 20);
						}
					}
				}
				
			}
		}
		
		.cart-footer {
			position: absolute;
			@at-root {
				.cf-left {
					padding-left: px2rem(20);
					flex-direction: row;
					justify-content: space-between;
				}
				
				.cfl-checkbox {
					color: #333333;
					flex-direction: row;
					align-items: center;
					@at-root {
						.cfl-checkbox-text {
							font-size: px2rem(30);
						}
					}
				}
				
				.total-price {
					padding-right: px2rem(40);
					flex-direction: row;
					align-items: center;
					@at-root {
						.tp-title {
							color: #333333;
							font-size: px2rem(30);
							margin-right: px2rem(10);
						}
						
						.tp-price {
							color: #f57f7f;
							font-size: px2rem(30);
						}
					}
				}
			}
		}
	}
}
