@import "./constant";

.my {
	$left: 20;
	background-color: $backgroundColor;
	@at-root {
		.my-info {
			@include padding(px2rem(90), 0, px2rem(30), px2rem(30));
			
			color: #ffffff;
			background-image: linear-gradient(to right, #ffc168, #ff6631);
			margin-bottom: px2rem(12);
			@at-root {
				.my-info-set {
					color: #ffffff;
					font-size: px2rem(26);
					line-height: px2rem(70);
					width: px2rem(100);
					position: absolute;
					top: 0;
				}
				
				$iconSize: px2rem(110);
				.my-info-image {
					width: $iconSize;
					height: $iconSize;
					border-radius: $iconSize;
				}
				
				.my-info-name {
					@include height(60);
					padding-left: px2rem(20);
					color: #ffffff;
					font-size: px2rem(30);
				}
				
				.my-info-address {
					color: #ccd0a3;
					font-size: px2rem(24);
					line-height: px2rem(70);
					position: absolute;
					right: px2rem(20);
					bottom: 0;
				}
			}
		}
		
		.my-order {
			background-color: #ffffff;
			margin-bottom: px2rem(12);
			@at-root {
				.my-order-title {
					@include borderBottom();
					
					height: px2rem(80);
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					padding-left: px2rem($left);
					
					@at-root {
						.order-title-left {
							font-size: px2rem(28);
						}
						
						.order-title-right {
							flex-direction: row;
							align-items: center;
							
							@at-root {
								.more-text {
									color: #bfbfbf;
									font-size: px2rem(26);
								}
							}
						}
					}
				}
				
				.my-order-content {
					@include padding(px2rem(30), 0);
					flex-direction: row;
					
					@at-root {
						.order-content-item {
							flex: 1;
							align-items: center;
						}
						
						.order-content-text {
							color: #878787;
							font-size: px2rem(26);
							text-align: center;
						}
						
						.my-order-icon {
							width: px2rem(44);
							height: px2rem(44);
							margin-bottom: px2rem(10);
						}
					}
				}
			}
		}
		
		.my-money {
			background-color: #ffffff;
			margin-bottom: px2rem(12);
			@at-root {
				.my-money-title {
					@include height(80);
					@include borderBottom();
					font-size: px2rem(28);
					padding-left: px2rem($left);
				}
				
				.my-money-content {
					@include padding(px2rem(20), 0);
					flex-direction: row;
					@at-root {
						.money-content-item {
							flex: 1;
							justify-content: center;
							align-items: center;
						}
						
						.money-content-value {
							font-size: px2rem(28);
							margin-bottom: px2rem(10);
						}
						
						.money-content-label {
							font-size: px2rem(28);
						}
					}
				}
			}
		}
		
		.my-other {
			background-color: #ffffff;
			@at-root {
				.my-other-item {
					@include borderBottom();
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					padding-left: px2rem($left);
					padding-right: px2rem(4);
					height: px2rem(80);
				}
				
				.my-other-label {
					font-size: px2rem(28);
				}
			}
		}
		
		.enter-icon {
			width: px2rem(36);
			height: px2rem(36);
		}
		
		.logout {
			color: #ffffff;
			background-color: #ea5123;
			font-size: px2rem(26);
			text-align: center;
			margin-top: px2rem(80);
			margin-bottom: px2rem(80);
			line-height: px2rem(80);
		}
	}
}
