@import "constant";
@import "./common/common";

.sort {
	$sortFirstWidth: 180;
	$sortSecondPadding: 12;
	
	background-color: $backgroundColor;
	flex-direction: row;
	@at-root {
		.sort-first {
			width: px2rem($sortFirstWidth);
			background-color: #ffffff;
		}
		
		.sort-first-item {
			font-size: px2rem(26);
			padding-top: px2rem(34);
			height: px2rem(96);
			text-align: center;
		}
		
		.active {
			background-color: #f0f1f5;
			color: red;
		}
		
		.sort-second {
			@include padding(0, px2rem($sortSecondPadding));
			flex: 1;
		}
		
		.second-item-title {
			font-size: px2rem(26);
			font-weight: 500;
			line-height: px2rem(70);
		}
		
		.second-item-content {
			padding-bottom: px2rem(30);
			background-color: #ffffff;
			flex-direction: row;
			flex-wrap: wrap;
			
			@at-root {
				.each-product {
					width: (750 - $sortFirstWidth - $sortSecondPadding * 2) / 3;
					align-items: center;
				}
				.each-product-image {
					@include margin(px2rem(25), 0);
					width: px2rem(100);
					height: px2rem(100);
				}
				.each-product-name {
					color: #333;
					font-size: px2rem(26);
				}
			}
		}
	}
}
